

.legal_content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr .5fr;
    column-gap: 5rem;
    z-index: 1;
    min-height: 600px;
    background: $color_background_dark;
    padding: 0 5rem;
    padding-bottom: 2rem;
    @include breakpoint(laptop) {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }
    .legal_content_container {

        @include breakpoint(laptop) {
            padding: 0 4rem;
            padding-bottom: 2rem;
        }
        @include breakpoint(mobile) {
            padding: 0rem;
            padding-bottom: 2rem;
        }
        .tos_header {
            padding-top: 5rem;
            @include h1(default);
        }
        .tos_update_date{
            @include h4();
        }
        section {
            width: 100%;
            margin-bottom: 3rem;
            @include breakpoint(laptop) {
                width: 100%;
            }
            @include breakpoint(mobile) {
                width: 100%;
                margin-bottom: 2.5rem;
            }
            h1{
                @include h1(medium);
            }

            .tos_summary {
                width: 100%;
                background: rgba(255, 255, 255, 0.1);
                padding: .5rem 1rem .7rem 1rem;
                margin-top: .5rem;
                border-radius: 10px;
                margin-bottom: .5rem;
                p {
                    display: inline;
                    @include p(medium);
                    line-height: 1.7rem;
                }
                h2 {
                    display: inline;
                    @include p(medium);
                    color: $color_main_hover;
                }
            }
            p{
                @include p(medium);
            }

            ul {
                padding-left: 3rem;
                li{
                    @include p(medium);
                    margin: 1rem 0rem;
                }
            }

            a {
                @include a(medium)
            }
        }
    }

    .legal_navigation_container {
        position: sticky;
        top: 5rem;
        align-self: start;
        background: $color_main_blue;
        padding: 1rem 1rem 1.5rem 1rem;
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        @include breakpoint(laptop) {
            display: none
        }
        h1 {
            @include h1(medium);
            padding: .5rem 1rem;
        }
        ul {
            margin-top: .5rem;
            list-style: none;
            width: 100%;
            padding-left: 2rem;
            
            li{
                line-height: 2rem;
                a{
                    @include p(medium);
                    color: white;
                    text-decoration: underline;

                    &:hover {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
            }
        }
        
    }
}