@import "../variables.module.scss";


.search_top_container{
    display: grid;
    z-index: 1000;
    width: 100%;
    height: auto;
    background-color: $color_main_blue;
    grid-template-columns: 1fr 1fr;
    @include breakpoint(mobile) {
        position: fixed;
        bottom: 0;
        grid-template-columns: 1fr;
    }
    .searchbar_wrapper {
        width: 100%;
        order: 1;
        @include breakpoint(mobile) {
            order: 2;
        }
    }


    .dropdowns {
        display: grid;
        width: min-content;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        padding: 1rem;
        order: 2;
        @include breakpoint(laptop) {
            order: 1;
        }

        @include breakpoint(mobile) {
            column-gap: 0;
            width: 100%;
            order: 1;
        }
    }
}

.pack_previews_wrapper{
    margin-top: 2rem;
    width: 100%;
}