.pack_asset {
    position: relative;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background: $color_main_blue;
    height: 100%;
    width: 100%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
    
    &:hover {
        cursor: pointer;
        .delete_asset_container {
            opacity: 1;
            svg {
                transform: scale(2);
            }
        }
    }

    img {
        object-fit: contain;
        object-position: center;
        
    }

    .delete_asset_container {
        position: absolute;
        pointer-events: all;
        transition: .1s ease-in-out;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: scale(1.01);
        height: 100%;
        background: rgba(0, 0, 0, 0.80);
        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
            transform: scale(1);
            transition: .1s ease-in-out;
            fill: $color_error;
        }
    }
}