.stats_container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    margin: 2rem 0rem;
    column-gap: 2rem;
    row-gap: 1rem;
    
    @include breakpoint(mobile) {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }
    
    .stat_grid {
        grid-template-columns: 90px 1fr;
        column-gap: .5rem;
        .stat_label_container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
        }
        .stat_value_container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
        }
    }
}