
.error_page {
    position: relative;
    z-index: 1;
    height: auto;
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        height: 100vh;
        min-height: 600px;
        background: $color_background_dark;

        h1{
            @include h1;
            padding: 0 3rem;
            text-align: center;
            color: $color_error;
            @include breakpoint(mobile) {
                width: 100%;
                padding: 0 1rem;
            }
        }
        p{
            @include p;
            margin-top: 1rem;
            padding: 0 2rem;
            width: 55%;
            @include breakpoint(laptop) {
                width: 80%;
            }
            @include breakpoint(mobile) {
                width: 100%;
                padding: 0 1rem;
            }
            text-align: center;
        }
        button{
            @include button;
            margin-top: 2rem;
        }
    }
}