@import "./variables.module.scss";

h1 {
    color: $color_white;
    font-weight: unset;

    font-family: $font_alatsi;
    &.error {
        color: $color_error;
    }
    &.success {
        color: $color_main_hover;
    }
    
    &.big {
        font-size: 2.25rem;

        @include breakpoint(mobile) {
            font-size: 1.75rem;
        }
    }
    &.default {
        font-size: 1.75rem;

        @include breakpoint(mobile) {
            font-size: 1.25rem;
        }
    }
    &.small {
        font-size: 1.375rem;

        @include breakpoint(mobile) {
            font-size: .825rem;
        }
    }

    &.bold {
        font-weight: 700;
    }
}
p {
    font-family: $font_alata;
    font-weight: unset;
    line-height: 2rem;
    color: $color_grey_hover;

    &.error {
        color: $color_error;
    }
    
    &.big {
        font-size: 1.125rem;

        @include breakpoint(mobile) {
            font-size: 1rem;
        }
    }
    &.default {
        font-size: 1rem;

        @include breakpoint(mobile) {
            font-size: .875rem;
        }
    }
    &.small {
        font-size: .875rem;

        @include breakpoint(mobile) {
            font-size: .750rem;
        }
    }
    
}
a {
    font-family: $font_alatsi;
    color: $color_white;
    line-height: 2rem;
    font-weight: unset;

    &.main {
        color: $color_main;
        &:hover{
            cursor: pointer;
            color: $color_main_hover;
        }
        &:active{
            cursor: pointer;
            color: $color_main_active;
        }
    }
    &.white {
        color: $color_white;
        text-decoration: underline;
        &:hover{
            cursor: pointer;
            color: $color_main_hover;
        }
        &:active{
            cursor: pointer;
            color: $color_main_active;
        }
    }
    &.big {
        font-size: 1.125rem;
    }
    &.default {
        font-size: 1rem;
    }
    &.small {
        font-size: .875rem;
    }

}