.app_notification_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
    @include breakpoint(mobile) {
        align-items: center;
    }
    .notification_container {
        position: relative;
        pointer-events: all;
        background: $color_main_blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        min-width: 450px;
        max-width: 550px;
        text-align: center;
        padding: .3rem 0rem;
        @include breakpoint(mobile) {
            min-width: unset;
            width: 90%;
        }
        h1 {
            @include h1(medium);
            color: $color_main_bright;
            margin-top: 2rem;
            padding: 0 1rem;
        }
    
        p {
            @include p;
            margin-top: 1rem;
            padding: 0 1rem;
        }
    
        button {
            @include button;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .notification_success_container {
        
        h1 {
            color: $color_main_bright;
        }
    
        p {
            color: $color_bright_grey;
        }
    
        button {
            @include button;
        }
    }
    .notification_error_container {
        
        h1 {
            color: $color_error;
        }
    
        p {
            color: $color_bright_grey;
        }
    
    }
}