@import "./variables.module.scss";

.browse_page{
    position: relative;
    height: auto;
    z-index: 1;
    
    .content{
        position: relative;
        z-index: 1;
        background: $color_background_dark;
        .title_pack_container {
            position: relative;
            overflow: hidden;
            margin-bottom: 1.5rem;
            min-height: 600px;
            @include breakpoint(mobile) {
                padding: unset;
                min-height: unset;
            }
            
            .title_pack_preview_container{
                position: relative;
                top: 0;
                width: 100%;
                height: 600px;
                
                @include breakpoint(mobile){
                    height: 450px;
                }
                .content_container{
                    position: relative;
                    height: 100%;
                    padding-left: 8rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 1;
                    word-break: break-all;
                    @include breakpoint(mobile) {
                        padding: 0 1rem
                    }
                    h2{
                        @include h2;
                        @include breakpoint(mobile) {
                            @include h2(medium);
                        }
                    }
                    h1{
                        @include h1;
                        margin-top: -.2rem;
                        padding: unset;
                        
                    }
                    p{
                        @include p(medium);
                        margin-top: .4rem;
                        width: 40%;
                        @include breakpoint(laptop){
                            width: 70%
                        }
                        @include breakpoint(mobile){
                            @include p;
                            width: 100%
                        }
                    }
                    a {
                        @include button;
                        margin-top: 1.6rem;
                        align-self: start;
                    }
                }
                .background_container{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    .background_blur{
                        position: absolute;
                        background: linear-gradient(0 ,$color_background_dark 0%, rgba(17, 31, 53, .5) 185%);
                        width: 100%;
                        height: 101%;
                    }
                    .preview_image{
                        object-fit: cover;
                        object-position: center;
                        image-rendering: pixelated;
                        image-rendering: -moz-crisp-edges;
                        image-rendering: crisp-edges;
                    }
                }
            }
        }
    }
}

