@import "./variables.module.scss";

.footer_container{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    
    h1{
        @include h1(big);
        margin-top: 3rem;
    }
    
    .legal_container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        width: 28%;
        margin-bottom: 0rem;
        @include breakpoint(laptop) {
            width: 55%;
        }
        @include breakpoint(mobile) {
            width: 90%;
        }
        a{
            @include h4(medium);
            grid-row: 1/1;
            justify-self: center;
            &:hover{
                
                color: $color_bright_grey
            }
        }
    }
    .socials_container{
        display: flex;
        margin: 5rem 0rem 5rem 0rem;

        img {
            object-fit: contain;
            object-position: center;
        }
    }
    h5{
        @include h5;
        margin: 2rem 0 1.4rem;
        text-align: center;
    }
    
}
.background {
    position: fixed;
    background: linear-gradient(180deg, $color_main_blue 70%, $color_background_dark 100%);
    z-index: 0;
    max-height: 2350px;
    top: 0;
    width: 100%;
    height: 100vh;
}

.social_item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin: 0 1rem;
}