@import "./variables.module.scss";

.footer_container{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    h1{
        @include h1(big);
        margin-top: 3rem;
    }
    
    .socials_container{
        display: flex;
        margin: 5rem 0rem 5rem 0rem;
        a{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            margin: 0 1rem;
        }
    }

    
    .legal_container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        width: 28%;
        margin-bottom: 0rem;
        @include breakpoint(laptop) {
            width: 55%;
        }
        @include breakpoint(mobile) {
            width: 90%;
        }
        a{
            @include h4(medium);
            grid-row: 1/1;
            justify-self: center;
            &:hover{
                
                color: $color_bright_grey
            }
        }
    }

    h5{
        @include h5;
        margin: 2rem 0 1.4rem;
        text-align: center;
    }
    .footer_background{
        pointer-events: none;
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
    }
}
