@import "./variables.module.scss";
@import "./buttons";

@import "./components/footer.scss";
@import "./pages/index.scss";
@import "./pages/browse.scss";
@import "./pages/news.scss";
@import "./pages/account.scss";
@import "./pages/account_settings.scss";
@import "./pages/404.scss";
@import "./pages/login.scss";
@import "./pages/create_pack.scss";
@import "./pages/pack.scss";
@import "./pages/license.scss";
@import "./pages/notifications.scss";
@import "./pages/legal.scss";
@import "./pages/signup.scss";
@import "./pages/profile.scss";
@import "./pages/search.scss";
@import "./pages/reset_account_password.scss";
@import "./pages/forgot_password.scss";
@import "./pages/achievements.scss";
@import "./components/promotedPack.scss";

@import "./components/dropDown.scss";
@import "./components/sprite_credits.scss";
@import "./components/app_notification.scss";
@import "./components/fixed_app_content_overlay.scss";
@import "./components/loading.scss";
@import "./components/patch.scss";
@import "./components/pack_stars_raiting.scss";
@import "./components/steps.scss";
@import "./components/users_section.scss";
@import "./components/cookie_alert.scss";
@import "./components/navigation.scss";
@import "./components/achievement.scss";
@import "./components/actionButton.scss";
@import "./components/popup.scss";
@import "./components/pagination.scss";
@import "./components/kingHeader.scss";
@import "./components/parallaxIntro.scss";
@import "./components/perk.scss";
@import "./components/perksGroup.scss";
@import "./components/contentSegment.scss";
@import "./components/button.scss";
//Building Blocks
@import "./components/section.scss";
@import "./components/layout/page.scss";
@import "./components/layout/pageContent.scss";
@import "./components/layout/overlay.scss";
@import "./components/layout/sticky.scss";
@import "./components/layout/grid.scss";
@import "./components/layout/flex.scss";
@import "./components/layout/viewPort.scss";

//Pack Building blocks.
@import "./components/packAsset.scss";
@import "./components/packAssetsSection.scss";
@import "./components/packPreview.scss";
@import "./components/packPreviewsSection.scss";

@import "./texts";

@import "./layout.scss";

html,
body {
  font-size: 16px;
  background-color: #020B16;
  &::-webkit-scrollbar{
    width: 10px;
    background-color: $color_background_dark;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $color_main_blue;
    &:hover{
      background-color: $color_main_blue_hover;
    }
  }
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
}
