@import "./variables.module.scss";
@import "./home.scss";
@import "./footer.scss";
@import "./layout.scss";
@import "./navigation.scss";
@import "./news.scss";
@import "./patch.scss";
@import "./browse.scss";
@import "./pack_previews.scss";
@import "./pack.scss";
@import "./signup.scss";
@import "./app_notification.scss";
@import "./login.scss";
@import "./loading.scss";
@import "./account.scss";
@import "./profile.scss";
@import "./packs_section.scss";
@import "./create_pack.scss";
@import "./steps.scss";
@import "./fixed_app_content_overlay.scss";

html,
body {
  font-size: 16px;
  background-color: #020B16;
  &::-webkit-scrollbar{
    width: 10px;
    background-color: $color_background_dark;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $color_main_blue;
    &:hover{
      background-color: $color_main_blue_hover;
    }
  }
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
}
