@import "./variables.module.scss";

.nav_container_desktop{
    position: relative;
    z-index: 100;
    width: 93px;
    min-width: 93px;
    height: 100%;
    z-index: 200;
    top: 0px;
    .content_container{
        position: sticky;
        top: 0;
        background: $gradiant_main;

        .content{
            .nav_button_container{
                position: relative;
                display: flex;
                width: 100%;
                user-select: none;
                -webkit-user-select: none;      
                -moz-user-select: none; 
                -ms-user-select: none;
                              
                .nav_svg{
                    -webkit-tap-highlight-color: rgba(0,0,0,0);
                    -webkit-tap-highlight-color: transparent;
                    margin: 2rem;
                    transform: scale(1.4);
                    fill: white;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            
            .items_container{
                position: relative;
                overflow-y: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar{
                    width: 0px;
                }
                scrollbar-width: none;
                ul {
                    
                    display: grid;
                    height: 100%;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    row-gap: 3rem;
                    .nav_li_item{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        
                        height: 80px;
                        &:hover{
                            cursor: pointer;
                            background-color: rgba(255, 255, 255, 0.1);
            
                            .nav_item{
                                .icon_svg{
                                    fill: $color_white;
                                }
                                p{
                                    color: $color_white;
                                }
                            }
                            
                        }
                        .nav_item{
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            justify-content: flex-start;
                            width: 100%;
                            margin-left: 2rem;
                            text-decoration: none;
                            padding: 1rem 0;
                            user-select: none;
                            -webkit-user-select: none;      
                            -moz-user-select: none; 
                            -ms-user-select: none;
                            p{
                                position: absolute;
                                opacity: 0;
                                margin-left: 2.9rem;
                                min-width: 100px;
                                font-family: $font_alatsi;
                                font-weight: 500;
                                text-decoration: none;
                                color: $color_grey;
                                font-size: 16px;
                            }
                            
                            
                            .icon_svg{
                                fill: $color_grey;
                                transform: scale(1.3);
                            }
                        }
                    }
                    .nav_li_item_target{
                        &:hover {
                            .nav_item{
                                .icon_svg{
                                    fill: $color_main;
                                }
                                p{
                                    color: $color_main;
                                }
                            }
                        }
                        span{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            border-left: 3px solid $color_main;
                            
                        }
                        .nav_item{
                            p{
                                color: $color_main;
                                
                            }
                            .icon_svg{
                                fill: $color_main;
                            }
                        }
                    }

                    .bottom_section{
                        align-self: end;
                        padding-bottom: 3rem;
                        
                    }
                }
            }

        }

    }
    
}

.nav_container_mobile{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 55px;
    height: 55px;
    z-index: 100;
    width: 100%;

    .nav_content{
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        overflow: scroll;
        width: 100%;
        height: 100%;
        background: $color_main_blue;
        box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, .5);
        
        &::-webkit-scrollbar{
            display: none;
        }

        .nav_button_container{
            position: relative;
            display: flex;
            width: 100%;
            user-select: none;
            -webkit-user-select: none;      
            -moz-user-select: none; 
            -ms-user-select: none;
            .nav_svg{
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-tap-highlight-color: transparent;
                margin: 1rem;
                transform: scale(1.4);
                fill: white;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .nav_items_container{
            width: 100%;
            list-style: none;
            
            .nav_li_item{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70px;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.1);
                }
                .nav_item{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    justify-content: flex-start;
                    width: 100%;
                    margin-left: 2rem;
                    text-decoration: none;
                    padding: 1rem 0;
                    user-select: none;
                    -webkit-user-select: none;      
                    -moz-user-select: none; 
                    -ms-user-select: none;
                    height: 70px;
                    p{
                        position: absolute;
                        opacity: 0;
                        margin-left: 2.9rem;
                        min-width: 100px;
                        font-family: $font_alatsi;
                        font-weight: 500;
                        text-decoration: none;
                        color: $color_grey;
                        font-size: 14px;
                    }
                    
                    
                    .icon_svg{
                        fill: $color_grey;
                        transform: scale(1.15);
                    }
                }
            }
            .nav_li_item_none_target{
                .nav_item{
                    p{
                        color: $color_grey;
                        
                    } 
                    .icon_svg{
                        fill: $color_grey;
                    }
        
                }
                &:hover{
                    .nav_item{
                        p{
                            color: $color_white;
                        }
                        .icon_svg{
                            fill: $color_white;
                        }
        
                    }
                }
            }
            .nav_li_item_target{
                span{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-left: 3px solid $color_main;
                    
                }
                .nav_item{
                    p{
                        color: $color_main;
                        
                    }
                    .icon_svg{
                        fill: $color_main;
                    }
                }
            }

            .nav_sign_in{
                width: 100%;
                margin-top: 4rem;
            }
        }
    }
}


.nav_user_profile_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    
    .portrait_container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        height: 100%;
        width: 100%;
        max-width: 93px;
        
        
        .portrait {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 85%;
            height: 85%;
            border-radius: 50%;
            background: $color_main_blue_hover;
           
            &:hover {
                cursor: pointer;
                .portrait_image{
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .portrait_image {
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                width: 90%;
                height: 90%;
                
                img {
                    transition: .1s ease-in-out;
                }
            }
            img {
                object-fit: cover;
                object-position: center;
                background: $color_main_blue;
            }
            
        }
        .portrait_target {
            background: $color_main;
        }
        .user_info {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            width: 290px;
            left: 93px;
            padding: 0 1rem;
            a{
                @include a(default);
            }
            h4{
                @include h4(medium);
            }

            p {
                display: inline;
                @include p(small);
                margin-top: .3rem;

                &:hover {
                    cursor: pointer;
                    color: white
                }
            }
            
        }

        
    }

    

}

.nav_shadow{
    @include nav_shadow;
    z-index: 0;
}