@import "./variables.module.scss";


.pack_page{
    height: auto;
    .close_pack{
        position: fixed;
        z-index: 100;
        display: flex;
        width: 100%;
        height: 100%;
        pointer-events: none;
        .close{
            position: relative;
            pointer-events: all;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4rem;
            height: 50px;
            width: 50px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            background: $color_main;
            position: absolute;
            
            &:hover {
                cursor: pointer;
                background: $color_main_bright;
                .hover_box {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            .hover_box{
                transition: 0.1s ease-in-out;
                @include p(default);
                position: absolute;
                right: -110px;
                color: white;
                pointer-events: none;
                opacity: 0;
                transform: scale(0.8);
            }
            .close_icon{
                transform: scale(1.2);
                fill: black;
            }
        }
    }
    .content {
        
        .preview_container{
            position: relative;
            width: 100%;
            height: auto;
            .background{
                position: absolute;
                z-index: -1;
                top: 0;
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    object-position: center;
                }
                .background_blur{
                    position: absolute;
                    background: linear-gradient(0 ,$color_background_dark 0%, rgba(17, 31, 53, .5) 185%);
                    width: 100%;
                    height: 101%;
                }
            }
            
            .pack_info{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-top: 14rem;
                @include breakpoint(mobile) {
                    padding-top: 8rem;
                }
                .header_container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2{
                        @include h2(big);
                        padding: 0 1rem;
                    }
                    
                    p{
                        @include p;
                        width: 55%;
                        margin-top: 1.5rem;
                        padding: 0 1rem;
                        @include breakpoint(laptop) {
                            width: 70%
                        }
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                    button {
                        @include button;
                        margin-top: 2.5rem;
                    }
                }
                .stats_container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 12rem;
                    @include breakpoint(mobile) {
                        margin-bottom: 3rem
                    }
                    .top_line {
                        @include next_section_line;
                        width: 80%;
                        position: absolute;
                        top: 0;
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                    .grid_container{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        margin: 2rem 0rem;
                        column-gap: 1rem;
                        row-gap: 1rem;
                        width: 60%;
                        height: 100%;
                        @include breakpoint(laptop) {
                            width: 65%;
                        }
                        @include breakpoint(mobile) {
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                            width: 100%;
                            padding: 0 1rem;
                        }
                        .grid_item{
                            display: grid;
                            width: 100%;
                            grid-template-columns: 100px 1fr;
                            .item_1{
                                align-self: center;
                                justify-self: start;
                                h4{
                                    @include h4(big);
                                    font-size: 16px;
                                    @include breakpoint(mobile) {
                                        font-size: 14px;
                                    }
                                }
                            }
                            .item_2{
                                @include p(medium);
                                color: white;
                                align-self: center;
                                justify-self: start;
                                .stars_container{
                                    svg{
                                        width: 35px;
                                        transform: translateY(2px) scale(1.2);
                                        fill: $color_main_bright;
                                        @include breakpoint(mobile) {
                                            width: 30px;
                                            transform: translateY(1px) scale(1);
                                        }
                                    }
                                }
                                
                            }
                            a{
                                @include a(medium);
                                align-self: center;
                                justify-self: start;
                            }
                        }
                        
                    }
                    .bottom_line {
                        @include next_section_line;
                        width: 80%;
                        position: absolute;
                        bottom: 0;
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                }
                .rating_container{
                    .rating_stars{
                        align-self: start;
                        justify-self: start;
                        margin-left: -.3rem;
                        margin-top: -.3rem;
                        svg{
                            margin: 0 .3rem;
                            transform: scale(1.2);
                            fill: $color_main_bright;
                        }
                    }
                }
                .arrow_container{
                    display: flex;
                    justify-content: center;
                    margin-top: 3rem;
                    width: 100%;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                    .arrow_down{
                        animation: arrow_down .7s infinite alternate-reverse;
                        transition: 0.2s ease-in-out;
                        fill: $color_main;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        
        .asset_sections_container{
            padding: 2rem 2rem 0rem 2rem;
            @include breakpoint(mobile) {
                padding: 1.5rem 1rem 1rem 1rem;
            }
            .section_container{
                
                h1{
                    @include h1(small);
                    margin-bottom: 1rem;
                }
                .assets_grid_container{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
                    grid-template-rows: auto;
                    row-gap: 1rem;
                    column-gap: 1rem;
                    margin-bottom: 2rem;
                    .asset{
                        position: relative;
                        background: $color_main_blue;
                        height: 140px;
                        box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
                        transition: 0.2s ease-in-out;
                        &:hover{
                            cursor: pointer;
                            img{
                                transform: scale(0.85);
                            }
                        }
                        img{
                            transition: 0.1s ease-in-out;
                            transform: scale(0.8);
                            object-fit: contain;
                            object-position: center;
                            image-rendering: pixelated;
                            image-rendering: -moz-crisp-edges;
                            image-rendering: crisp-edges;
                        }
                    }
                }
            }

        }
        
    }
}

.h1_with_deco{
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(40%, 1fr) 1fr;
    column-gap: 3rem;
    width: 90%;
    @include breakpoint(laptop) {
        grid-template-columns: 1fr minmax(60%, 1fr) 1fr;
        width: 95%;
    }
    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
    }
    h1{
        @include h1(big);
        margin-top: -.2rem;
        padding: 0 1rem;
    }
    
    .left_container {
        display: flex;
        align-items: center;
        @include breakpoint(mobile) {
            display: none;
        }
        .left_line {
            height: 1px;
            width: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
        } 
        .left_icon{
            height: 12px;
            width: 12px;
            margin-left: .1rem;
            transform: rotate(45deg);
            border-radius: 1px;
            border: 1px solid rgba(255,255,255,.6);
        }
    }
    .right_container {
        display: flex;
        align-items: center;
        @include breakpoint(mobile) {
            display: none;
        }
        .right_line{
            height: 1px;
            width: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
        }
        .right_icon{
            height: 12px;
            width: 12px;
            margin-left: .1rem;
            transform: rotate(45deg);
            border-radius: 1px;
            border: 1px solid rgba(255,255,255,.6);
        }
    }
    
    
}


@keyframes arrow_down {
    0% {transform: translateY(0) rotate(90deg);}
    100% {transform: translateY(15px) rotate(90deg);}
}