.pack_stars_container{
    position: relative;
    display: grid;
    grid-template-columns: 150px auto;
    @include breakpoint(mobile) {
        display: flex;
        transform: translateX(-3px);
        align-items: center;
        column-gap: .5rem;
    }
    .stars {
        display: flex;
        align-items: center;
        
        svg{
            width: 30px;
            transform: scale(1.1);
            fill: $color_main_bright;
            @include breakpoint(mobile) {
                width: 25px;
                transform: scale(1);
            }
        }
    }
    
    .pack_rating_count_container{
        height: 100%;
        display: flex;
        align-items: center;
        
        .pack_rating_count {
            //Needed
            text-align: start;
            position: relative;
            @include p(small);
        }
    }
    
}