@import "./variables.module.scss";


.pack_page{
    position: relative;
    height: auto;
    .close_pack{
        position: fixed;
        z-index: 100;
        display: flex;
        width: inherit;
        height: inherit;
        pointer-events: none;
        .close{
            position: relative;
            pointer-events: all;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4rem;
            height: 50px;
            width: 50px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            background: $color_main;
            position: absolute;
            
            &:hover {
                cursor: pointer;
                background: $color_main_bright;
                .hover_box {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            .hover_box{
                transition: 0.1s ease-in-out;
                @include p(default);
                position: absolute;
                right: -110px;
                color: white;
                pointer-events: none;
                opacity: 0;
                transform: scale(0.8);
            }
            .close_icon{
                transform: scale(1.2);
                fill: $color_background_dark;
            }
        }
    }
    .asset_fixed_container{
        position: fixed;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        &::-webkit-scrollbar {
            width: 0;
            scrollbar-width: none;
        }
        scrollbar-width: none;
        z-index: 200;
        background: rgba(0, 0, 0, 0.8);
        @include breakpoint(mobile) {
            align-items: unset;
            justify-content: center;
            padding-top: 2rem;
        }
        .asset_fixed_image_container{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 550px;
            height: 550px;
            @include breakpoint(mobile) {
                width: 260px;
                height: 260px;
            }
            background: $color_main_blue;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            img{
                object-fit: contain;
                object-position: center;
                transform: scale(.8);
            }

            .close_asset{
                @include a(medium);
                font-size: 18px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: -6rem;
                @include breakpoint(mobile) {
                    position: fixed;
                    bottom: 4rem;
                    font-size: 16px;
                }
                .close{
                    position: relative;
                    pointer-events: all;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    background: $color_main;
                    position: absolute;
                    
                    &:hover {
                        cursor: pointer;
                        background: $color_main_bright;
                        .hover_box {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                    
                    .close_icon{
                        transform: scale(1.2);
                        fill: black;
                    }
                }
            }
        }
        
    }

    .content {
        position: relative;
        z-index: 1;
        background: $color_background_dark;
        .preview_container{
            position: relative;
            width: 100%;
            height: auto;
            
            .background{
                position: absolute;
                z-index: -1;
                top: 0;
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    object-position: center;
                }
                .background_blur{
                    position: absolute;
                    background: linear-gradient(0 ,$color_background_dark 0%, rgba(17, 31, 53, .5) 185%);
                    width: 100%;
                    height: 101%;
                }
            }
            
            .pack_info{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-top: 13rem;
                @include breakpoint(mobile) {
                    padding-top: 8.5rem;
                    padding-bottom: unset;
                }
                .header_container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2{
                        @include h2;
                        padding: 0 1rem;
                        @include breakpoint(mobile) {
                            @include h2(medium);
                        }
                    }
                    .h1_with_deco{
                        @include h1_with_deco;
                    }
                    
                    p{
                        @include p;
                        width: 55%;
                        margin-top: 1.5rem;
                        padding: 0 1rem;
                        @include breakpoint(laptop) {
                            width: 70%
                        }
                        @include breakpoint(mobile) {
                            width: 100%;
                            margin-top: 1rem;
                        }
                    }
                    button {
                        @include button;
                        margin-top: 2.5rem;
                        @include breakpoint(mobile) {
                            margin-top: 2rem;
                        }
                    }
                }
                .stats_container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 12rem;
                    @include breakpoint(mobile) {
                        margin-top: 8rem;
                        margin-bottom: 3rem
                    }
                    .top_line {
                        @include next_section_line;
                        width: 80%;
                        position: absolute;
                        top: 0;
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                    
                    .grid_container{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        margin: 2rem 0rem;
                        column-gap: 1rem;
                        row-gap: 1rem;
                        width: 60%;
                        height: 100%;
                        @include breakpoint(laptop) {
                            width: 65%;
                        }
                        @include breakpoint(mobile) {
                            grid-template-columns: 1fr;
                            width: unset;
                            padding: 0 1rem;
                        }
                        .grid_item{
                            display: grid;
                            width: 100%;
                            grid-template-columns: 100px 1fr;
                            @include breakpoint(mobile) {
                                grid-template-columns: 1fr;
                                margin-bottom: .4rem;
                            }
                            .item_1{
                                align-self: center;
                                justify-self: start;
                                @include breakpoint(mobile) {
                                    align-self: center;
                                    justify-self: center;
                                }
                                p{
                                    @include p(medium);
                                    font-family: $font_alatsi;
                                    color: $color_dark_grey;
                                    font-size: 16px;
                                    @include breakpoint(mobile) {
                                        font-size: 14px;
                                    }
                                }
                            }
                            .item_2{
                                @include p(medium);
                                color: white;
                                align-self: center;
                                justify-self: start;
                                text-align: start;
                                @include breakpoint(mobile) {
                                    align-self: center;
                                    justify-self: center;
                                    margin-top: .3rem;
                                }
                                .stars_container{
                                    svg{
                                        width: 35px;
                                        transform: translateY(.2rem) translateX(-.2rem) scale(1.2);
                                        fill: $color_main_bright;
                                        @include breakpoint(mobile) {
                                            width: 30px;
                                            transform: translateY(.2rem) translateX(-.0rem) scale(1);
                                        }
                                    }
                                }
                                
                            }
                            a{
                                @include a(medium);
                                align-self: center;
                                justify-self: start;
                                @include breakpoint(mobile) {
                                    align-self: center;
                                    justify-self: center;
                                    margin-top: .4rem;
                                }
                            }
                        }
                        
                    }
                    .bottom_line {
                        @include next_section_line;
                        width: 80%;
                        position: absolute;
                        bottom: 0;
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                    }
                }
                .arrow_container{
                    display: flex;
                    justify-content: center;
                    margin-top: 3rem;
                    width: 100%;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                    .arrow_down{
                        animation: arrow_down .7s infinite alternate-reverse;
                        transition: 0.2s ease-in-out;
                        fill: $color_main;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        
        .asset_sections_container{
            position: relative;
            @include breakpoint(mobile) {
                padding: 1.5rem 1rem 1rem 1rem;
            }
            .section_container{
                padding: 1rem;
                @include breakpoint(mobile) {
                    padding: unset;
                }
                h1{
                    @include h1(small);
                    margin-bottom: 1rem;
                }
                .assets_grid_container{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
                    grid-template-rows: 140px;
                    row-gap: 1rem;
                    column-gap: 1rem;
                    
                    @include breakpoint(mobile) {
                        grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
                        grid-template-rows: 75px;
                    }
                    .asset{
                        position: relative;
                        background: $color_main_blue;
                        box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
                        transition: 0.2s ease-in-out;
                        user-select: none;
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        -o-user-select: none;
                        
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                        img{
                            pointer-events: all;
                            transition: 0.1s ease-in-out;
                            transform: scale(1);
                            object-fit: contain;
                            object-position: center;
                            image-rendering: pixelated;
                            image-rendering: -moz-crisp-edges;
                            image-rendering: crisp-edges;
                        }
                    }
                }
            }

        }
        
    }
}



@keyframes arrow_down {
    0% {transform: translateY(0) rotate(90deg);}
    100% {transform: translateY(15px) rotate(90deg);}
}