@import "./variables.module.scss";



.packs_section_container {
    position: relative;
    padding-bottom: 1rem;
    .packs_preview_grid {
        position: relative;
        overflow: hidden;
        padding: 0rem 2rem;
        padding-bottom: 1rem;
        @include breakpoint(mobile) {
            padding: 1rem 1rem;
        }
        
        .info{
            margin-bottom: .6rem;
            width: 100%;
            h1{
                @include h1(small);
                @include breakpoint(mobile) {
                    font-size: 18px;
                }
            }
        }
        
        .previews_container {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fill, minMax(350px, 1fr));
            min-height: $pack_preview_height;
            column-gap: 1rem;
            row-gap: 1rem;
            @include breakpoint(mobile) {
                grid-template-columns: 1fr;
            }
            .no_packs_container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                h1 {
                    @include h1(small);
                    color: $color_dark_grey;
                }
            }
            //Each Pack component as a child
        }
    }
    
    .load_more_container {
        position: relative;
        padding-top: 1rem;
        padding: 0 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr minmax(150px, .3fr) 1fr;
        @include breakpoint(mobile) {
            padding: 0 1rem;
        }
        h1 {
            @include a(default);
            align-self: center;
            justify-self: center;
            text-align: center;
        } 
        span {
            width: 100%;
            height: 1px;
            background: $color_dark_grey;
            opacity: .5;
            align-self: center;
            justify-self: center;
        }
    }
}