.page_overlay_fixed {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
    @include breakpoint(mobile) {
        align-items: center;
    }
}