.patch_container{
    grid-column: 1/1;
    grid-row: 1/1;
    height: auto;
    .patch_preview_container{
        position: relative;
        width: 100%;
        height: 450px;
        background-color: white;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .patch_preview_blur{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(3,12,24);
            background: linear-gradient(180deg, rgba(3,12,24,0) 20%, rgba(3,12,24,1) 90%);
        }
    }

    .patch_content_container{
        display: grid;
        grid-template-columns: 1fr .6fr;
        grid-template-rows: 1fr;
        margin: 0rem 6rem;
        column-gap: 6rem;
        margin-top: 2.7rem;
        .patch_main_content{
            margin: 0rem 1rem;
            color: $color_white;
            h2{
                font-family: $font_alatsi;
                font-weight: unset;
                color: $color_main_bright;
                font-size: $font_18_size;
            }
            h1{
                font-family: $font_alatsi;
                font-size: $font_32_size;
                font-weight: unset;
                margin-top: -.2rem;
                margin-bottom: .7rem;
            }
            p{
                font-family: $font_alata;
                font-size: $font_18_size;
                color: $color_grey;
                font-weight: unset;
                line-height: $font_line_height_text_p;
                padding-right: 2rem;
            }
            img{
                margin-top: 2rem;
                width: 100%;
            }
            button{
                background-color: unset;
                outline: none;
                border-style: none;
                color: $color_main;
                font-weight: unset;
                font-size: $font_18_size;
                font-family: $font_alatsi;
                &:hover{
                    cursor: pointer;
                    color: $color_main_bright;
                }
            }
        }

        .patch_forward_container{
            display: flex;
            align-items: center;
            flex-direction: column;
            
            .patch_forward_content_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;

                .patch_forward_1_container{
                    display: flex;
                    width: 450px;
                    height: 125px;

                    &:hover{
                        cursor: pointer;
                        background-color: $color_bright_blue;
                    }
                    .patch_forward_img_container{
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .patch_forward_info_content{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 1rem;
                        padding: 1rem;
                        h2{
                            display: inline-block;
                            font-family: $font_alatsi;
                            color: $color_main_bright;
                            font-weight: unset;
                            font-size: $font_18_size;
                        }
                        p{
                            font-family: $font_alata;
                            color: $color_grey;
                            font-weight: unset;
                            font-size: $font_16_size;
                        }
                    }
                    
                    
                    
                }

                span{
                    display: block;
                    margin: 1.5rem 0rem;
                    width: 100%;
                    height: 1px;
                    opacity: .3;
                    background: $color_gradiant_white_line_3;
                }
                
            }
            
        }
        
    }
}

@media (max-width: 1500px) {

    .patch_container {
        .patch_content_container{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            margin: 0rem 3rem;
            margin-top: 2rem;
            

            .patch_forward_container{
                align-items: unset;
                width: 100%;
                margin-bottom: 5rem;

                .patch_forward_content_container{
                    align-items: unset;
                    width: 100%;
                    padding: 0 1rem;

    
                    .patch_forward_1_container{
                        width: 100%;
                        height: 145px;
    
                        .patch_forward_img_container{
                            width: 35%;
                            max-width: 250px;
                        }
                    }
    
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .patch_container {
        .patch_preview_container{
            width: 100%;
            height: 350px;
        }

        .patch_content_container{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            margin: unset;
            margin-top: 0rem;
            

            .patch_main_content{
                h2{
                    
                    font-size: $font_16_size;
                }
                h1{
                    font-family: $font_alatsi;
                    font-size: $font_32_size;
                    font-weight: unset;
                    margin-top: unset;
                    margin-bottom: .7rem;
                }
                p{
                    font-size: $font_16_size;
                    color: $color_grey;
                }
                button{
                    font-size: $font_16_size;
                }
            }

            .patch_forward_container{
                align-items: unset;
                width: 100%;
                margin-bottom: 5rem;

                .patch_forward_content_container{
                    display: flex;
                    flex-direction: column;
                    align-items: unset;
                    width: 100%;
                    padding: 0 1rem;

    
                    .patch_forward_1_container{
                        display: flex;
                        width: 100%;
                        height: 100px;
    
                        .patch_forward_img_container{
                            width: 50%;
                            max-width: 200px;
                            background-color: violet;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
    
                        .patch_forward_info_content{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 1rem;
                            padding: 1rem;
                            h2{
                                display: inline-block;
                                font-family: $font_alatsi;
                                color: $color_main_bright;
                                font-weight: unset;
                                font-size: $font_16_size;
                            }
                            p{
                                font-family: $font_alata;
                                color: $color_grey;
                                font-weight: unset;
                                font-size: $font_14_size;
                            }
                        }
                        
                        
                        
                    }
    
                    span{
                        display: block;
                        margin: 1.5rem 0rem;
                        width: 100%;
                        height: 1px;
                        opacity: .3;
                        background: $color_gradiant_white_line_3;
                    }
                    
                }
            }
        }
    }
}