@import "./variables.module.scss";

.login_page {
    height: auto;
    .content {
        width: 100%;
        min-height: 800px;
        max-height: 1200px;

        .steps {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .step_container{
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .h1_with_deco{
                    @include h1_with_deco;
                    width: 80%;
                    margin-bottom: 5rem;
                }
    
                input {
                    @include p;
                    background: unset;
                    border-bottom: 1px solid $color_grey;
                    margin-bottom: .5rem;
                    width: 30%;
                    color: white;
                    outline: none;
                    text-align: center;
                    
                    &::placeholder {
                        color: $color_dark_grey;
                    }
                }
                .input_error_message{
                    @include p(medium);
                    margin-bottom: 1.5rem;
                    color: #F75E5E;
                }
                .button_container{
                    display: flex;
                    margin-top: 3rem;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 4rem;
                    .active_button{
                        @include button;
                    }
                    .disabled_button {
                        @include button(disabled);
                    }
                    .prev_button{
                        @include button(sub_button);
                    }
                }
                
            }

            .step_displayer_container {
                display: flex;
                justify-content: center;
                column-gap: .3rem;
                margin-top: 9rem;
                .step_done {
                    position: relative;
                    opacity: .6;
                    display: grid;
                    width: 14px;
                    height: 14px;
                    background: $color_main;
                    
                    p {
                        @include p(small);
                        font-family: $font_alatsi;
                        color: $color_main;
                        align-self: center;
                        justify-self: center;
                        position: absolute;
                        align-self: center;
                        width: 50px;
                        text-align: center;
                        top: -2.2rem;
                    }
                }
                .step_focus {
                    position: relative;
                    display: grid;
                    width: 14px;
                    height: 14px;
                    background: $color_main;
                    
                    p {
                        @include p(small);
                        font-family: $font_alatsi;
                        color: $color_main;
                        align-self: center;
                        justify-self: center;
                        position: absolute;
                        align-self: center;
                        width: 50px;
                        text-align: center;
                        top: -2.2rem;
                    }
                }
                .step_inactive {
                    position: relative;
                    display: grid;
                    width: 14px;
                    height: 14px;
                    background: $color_dark_grey;
                    
                    p {
                        @include p(small);
                        font-family: $font_alatsi;
                        color: $color_dark_grey;
                        align-self: center;
                        justify-self: center;
                        position: absolute;
                        align-self: center;
                        width: 50px;
                        text-align: center;
                        top: -2.2rem;
                    }
                }

                span {
                    align-self: center;
                    justify-self: center;
                    margin: 0 1rem;
                    height: 1px;
                    width: 40px;
                    background: white;
                }

            }

            .forward_container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 3rem;
                width: 100%;
                height: 10px;
                span {
                    position: absolute;
                    top: 0;
                    @include next_section_line;
                    width: 80%;
                }
                p {
                    margin-top: 8rem;
                    @include p(medium);
                    a {
                        @include a(medium);
                    }
                }
                
            }

        }
        
    }
}