@font-face {
    font-family: "Alatsi";
    src: url("/fonts/Alatsi-Regular.ttf");
}
@font-face {
    font-family: "Alata";
    src: url("/fonts/Alata-Regular.ttf");
}
$mobile_breakpoint: 1024px;
$desktop_breakpoint: 1920px;

//Colors
$color_main: #F7C35E;
$color_main_bright: #FFE0A3;

$color_dark_grey: #808080;
$color_grey: #C4C4C4;
$color_bright_grey: #D3D3D3;
$color_white: #ffffff;

$color_background_dark: #051020;
$color_background_dark_hover: #09192f;
$color_main_blue: #111F35;
$color_main_blue_hover: #192b49;

$color_error: #F75E5E;
//Font-family
$font_alatsi: 'Alatsi';
$font_alata: 'Alata';
//Font-sizes
$font_h1_desktop: 2.25rem;
$font_h1_desktop_small: 1.75rem;
$font_h1_mobile: 1.8rem;
$font_h1_mobile_small: 1.5rem;

$font_h2_desktop: 1.125rem;
$font_h2_desktop_small: 1rem;
$font_h2_mobile: 1rem;
$font_h2_mobile_small: 0.875rem;

$font_h3_desktop: 1.75rem;
$font_h3_mobile: 1.5rem;

$font_h4_desktop: 1rem;
$font_h4_mobile: 0.875rem;

$font_h5_desktop: 0.875rem;
$font_h5_mobile: 0.75rem;

$font_button_desktop: 1.125rem;
$font_button_desktop: 1rem;

$font_p_desktop: 1.125rem;
$font_p_mobile: 1rem;
$font_p_line_height: 2rem;
//Gradiants
$gradiant_footer: linear-gradient(180deg, $color_main_blue 0%, $color_background_dark 100%);
$gradiant_nav: linear-gradient(180deg, $color_main_blue 60%, $color_background_dark 100%);
$gradiant_nav_mobile: linear-gradient(180deg, $color_main_blue 60%, $color_background_dark_hover 100%);
$next_section_line_gradiant: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);


//BreakPoints
@mixin breakpoint($point) {
    @if $point == desktop {
        @media screen and (max-width: 1920px) { @content; }
    }
    @else if $point == mobile {
        @media screen and (max-width: 1024px) { @content; }
    } @else if $point == middle_screen {
        @media screen and (max-width: 1450px) { @content; }
    }
}
//For Next lines
@mixin next_section_line {
    width: 100%;
    height: 1px;
    opacity: .5;
    background: rgb(255,255,255);
    background: $next_section_line_gradiant;
}
@mixin button {
    font-family: "Alatsi";
    font-size: $font_button_desktop;
    color: $color_background_dark;
    background-color: $color_main;
    padding: .8rem 2.6rem;
    &:hover{
        background-color: $color_main_bright;
        cursor: pointer;
    }
    @include breakpoint(mobile) {
        padding: .6rem 2.6rem;
    }
}
//Links
@mixin a {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_main;
    
    &:hover{
        cursor: pointer;
        color: $color_main_bright;
    }
    @include breakpoint(desktop) {
        font-size: $font_p_desktop;
        
    }

    @include breakpoint(mobile) {
        font-size: $font_p_mobile;
        padding: 0 1rem;
    }
}
//Texts
@mixin p {
    font-family: $font_alata;
    font-weight: unset;
    line-height: $font_p_line_height;
    color: $color_bright_grey;
    

    @include breakpoint(desktop) {
        font-size: $font_p_desktop;
        
    }

    @include breakpoint(mobile) {
        font-size: $font_p_mobile;
        padding: 0 1rem;
    }
}
@mixin h5() {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_dark_grey;
    opacity: .3;

    @include breakpoint(desktop) {
        font-size: $font_h5_desktop;
    }

    @include breakpoint(mobile) {
        font-size: $font_h5_mobile;
        padding: 0 1rem;
    }
}
//Dates / authors
@mixin h4() {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_dark_grey;
    

    @include breakpoint(desktop) {
        font-size: $font_h4_desktop;
    }

    @include breakpoint(mobile) {
        font-size: $font_h4_mobile;
        padding: 0 1rem;
    }
}
//Sub header.
@mixin h2($size: normal) {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_main_bright;
    
    
    @include breakpoint(desktop) {
        @if $size == normal {
            font-size: $font_h2_desktop;
        } @else if $size == small {
            font-size: $font_h2_desktop_small;
        }
    }

    @include breakpoint(mobile) {
        padding: 0 1rem;
        @if $size == normal {
            font-size: $font_h2_mobile;
        } @else if $size == small {
            font-size: $font_h2_mobile_small;
        }
       
    }
}
//Headers
@mixin h1 ($size: normal) {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_white;
    

    @include breakpoint(desktop) {
        
        @include breakpoint(desktop) {
            @if $size == normal {
                font-size: $font_h1_desktop;
            } @else if $size == small {
                font-size: $font_h1_desktop_small;
            }
        }
    }

    @include breakpoint(mobile) {
        padding: 0 1rem;

        @if $size == normal {
            font-size: $font_h1_mobile;
        } @else if $size == small {
            font-size: $font_h1_mobile_small;
        }
    }
    
}
//Fontsizes