@font-face {
    font-family: "Alatsi";
    src: url("/fonts/Alatsi-Regular.ttf");
}
@font-face {
    font-family: "Alata";
    src: url("/fonts/Alata-Regular.ttf");
}
$mobile_breakpoint: 1024px;
$desktop_breakpoint: 1920px;

//Colors
$color_main: #F7C35E;
$color_main_bright: #FFE0A3;

$color_dark_grey: #808080;
$color_grey: #C4C4C4;
$color_bright_grey: #D3D3D3;
$color_white: #ffffff;

$color_app_background: #020B16;
$color_background_dark: #051020;
$color_background_dark_hover: #09192f;
$color_main_blue: #111F35;
$color_main_blue_hover: #192b49;

$color_error: #F75E5E;
//Font-family
$font_alatsi: 'Alatsi';
$font_alata: 'Alata';
//Font-sizes
//H1 For Big Headers.
$font_h1_desktop: 2.25rem;
$font_h1_desktop_small: 1.75rem;
$font_h1_mobile: 1.8rem;
$font_h1_mobile_small: 1.5rem;
//H2 For SubHeaders. Mostly tells something about the header.
$font_h2_desktop: 1.125rem;
$font_h2_desktop_small: 1rem;
$font_h2_mobile: 1rem;
$font_h2_mobile_small: 0.875rem;

//H3 Are for smaller Titles. Like Pack Titles.
$font_h3_desktop: 1.5rem;
$font_h3_mobile: 1.25rem;

//H4 Are made for Dates / 
$font_h4_desktop: 1rem;
$font_h4_mobile: 0.875rem;

$font_h5_desktop: 0.875rem;
$font_h5_mobile: 0.75rem;

$font_button_desktop: 1rem;
$font_button_mobile: 0.875rem;

//For Normal P Tags. Normal Text
$font_p_desktop: 1.125rem;
$font_p_mobile: 1rem;
$font_p_line_height: 2rem;
//Gradiants
$gradiant_main: linear-gradient(180deg, $color_main_blue 70%, $color_background_dark 100%);
$gradiant_sections: linear-gradient(180deg, #05102000 -100%, $color_background_dark 100%);
$gradiant_nav_mobile: linear-gradient(180deg, $color_main_blue 60%, $color_background_dark_hover 100%);
$next_section_line_gradiant: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);

//BreakPoints
@mixin breakpoint($point) {
    @if $point == desktop {
        @media screen and (max-width: 2560px) { @content; }
    }
    @else if $point == mobile {
        @media screen and (max-width: 768px) { @content; }
    } @else if $point == laptop {
        @media screen and (max-width: 1366px) { @content; }
    }
}
//For Next lines
@mixin next_section_line {
    width: 100%;
    height: 1px;
    opacity: .5;
    background: rgb(255,255,255);
    background: $next_section_line_gradiant;
}
@mixin button {
    font-family: "Alatsi";
    color: $color_background_dark;
    background-color: $color_main;
    font-size: 1.125rem;
    padding: .65rem 3.8rem;
    &:hover{
        background-color: $color_main_bright;
        cursor: pointer;
    }
    
    @include breakpoint(mobile) {
        font-size: 0.875rem;
        padding: .6rem 3.4rem;
    }
}
@mixin input {
    outline: none;
    background-color: unset;
    width: 100%;
    text-align: center;
    font-family: $font_alata;
    color: $color_white;
    font-size: 20px;
    padding: .3rem 1rem;
    &::placeholder{
        color: $color_dark_grey
    }
}
//Main Links
@mixin a($size: big) {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_main;
    font-size: 1.125rem;
    &:hover{
        cursor: pointer;
        color: $color_main_bright;
    }
    @if($size == big) {
        font-size: 1.125rem;
    }
    
   

    @include breakpoint(mobile) {
        @if($size == big) {
            font-size: 0.938rem;
        }
    }
}
//Texts
@mixin p($size: default) {
    font-family: $font_alata;
    font-weight: unset;
    line-height: 2rem;
    color: $color_bright_grey;
    font-size: $font_p_desktop;

    @if($size == default) {
        font-size: 1.125rem;
    }
    @if($size == medium) {
        font-size: 0.938rem;
    }
    

    @include breakpoint(mobile) {
        line-height: 1.9rem;
        font-size: $font_p_mobile;
        @if($size == big) {
            font-size: 0.938rem;
        }
        @if($size == medium) {
            font-size: .875rem;
        }
    }
}
//Fine Print
@mixin h5() {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_dark_grey;
    opacity: .3;
    font-size: $font_h5_desktop;

    @include breakpoint(mobile) {
        font-size: $font_h5_mobile;
    }
}
//Dates / authors / Legals
@mixin h4($size) {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_dark_grey;
    font-size: 1rem;

    @if($size == big) {
        font-size: 1rem;
    }
    @if($size == medium) {
        font-size: .875rem;
    }
    @if($size == small) {
        font-size: .75rem;
    }

    @include breakpoint(mobile) {
        @if($size == big) {
            font-size: .875rem;
        }
        @if($size == medium) {
            font-size: .75rem;
        }
        @if($size == small) {
            font-size: .625rem;
        }
    }
}
//For Titles Like a Pack preview Title.
@mixin h3() {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_white;
    padding: 0 1rem;
    font-size: $font_h3_desktop;

    @include breakpoint(mobile) {
        font-size: $font_h3_mobile;
    }
}
//Sub header.
@mixin h2($size) {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_main_bright;

    @if($size == big) {
        font-size: 1.125rem;
    }
    @if($size == medium) {
        font-size: 1rem;
    }
    @if($size == small) {
        font-size: .875rem;
    }
    
    
    @include breakpoint(mobile) {
        @if($size == big) {
            font-size: 1rem;
        }
        @if($size == medium) {
            font-size: .875rem;
        }
        @if($size == small) {
            font-size: .750rem;
        }
    }
}
//Headers
@mixin h1 ($size) {
    font-family: $font_alatsi;
    font-weight: unset;
    color: $color_white;

    @if($size == big) {
        font-size: 2.25rem;
    }
    @if($size == medium) {
        font-size: 1.75rem;
    }
    @if($size == small) {
        font-size: 1.375rem;
    }

    @include breakpoint(mobile) {

        @if($size == big) {
            font-size: 1.8rem;
        }
        @if($size == medium) {
            font-size: 1.45rem;
        }
        @if($size == small) {
            font-size: 1.25rem;
        }
    }
    
}
@mixin nav_shadow {
    position: absolute;
    top: -4px;
    height: 100%;
    width: 1px;
    left: -2px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.20);
}